@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
body {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  background-color: #2b898b;
  color: #213037;
  margin: 0;
}
p {
  white-space: pre-wrap;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  height: 4rem;
  box-shadow: 5px 5px 12px 1px #595959;
}
.navbar .link {
  text-decoration: none;
  color: #213037;
  width: 9rem;
  padding-top: 1.45rem;
  transition: 0.3s;
}
.navbar .link:hover {
  background-color: #f78e28;
  color: #fff;
}
.navbar .logout:hover {
  background-color: #f45229;
}
.home-page,
.post-page,
.profile-page,
.edit-user-page,
.Search-page {
  width: 75%;
  margin: auto;
}
.header {
  border-radius: 6px;
  width: 50rem;
  margin: 4rem auto 1rem auto;
  padding: 0.05rem 1rem 1.3rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px #595959;
}
.feed {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.post {
  border-radius: 6px;
  width: 70rem;
  margin: 4rem auto 1rem auto;
  padding: 0.05rem 1rem 1.3rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px #595959;
}
.post p {
  padding: 0.5rem 2.5rem 0.25rem 2.5rem;
  text-align: left;
}
.post-preview-card {
  border-radius: 6px;
  width: 40rem;
  margin: 1rem auto 1rem auto;
  padding: 0 1rem 1.3rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px #595959;
}
.post-preview-card p {
  padding: 0 15px 5px 15px;
  text-align: left;
}
.comment-form {
  border-radius: 6px;
  width: 30rem;
  margin: 2rem auto 2rem auto;
  padding: 0.75rem 1rem 0.75rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px #595959;
}
.comment-form form {
  display: flex;
  flex-direction: column;
}
.comment-form form label {
  padding: 1rem;
}
.comment-form form textarea {
  margin: 0 1rem 0 1rem;
  resize: none;
}
.comment-form form input {
  margin: 0.75rem auto 0 auto;
  width: 5rem;
}
.comment {
  border-radius: 6px;
  width: 30rem;
  margin: 2rem auto 2rem auto;
  padding: 0.75rem 1rem 0.75rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px #595959;
}
.comment p {
  padding: 0 15px 5px 15px;
}
.content-header {
  display: inline-flex;
}
.content-header a {
  margin: 0 10px 0 10px;
}
.content-header h5 {
  margin: 0 10px 0 10px;
}
.comment-edit-section {
  display: flex;
  flex-direction: column;
}
.comment-edit-section button {
  margin: 0 10px 0 10px;
  width: 5rem;
}
.like-btn button {
  margin: 0 10px 0 10px;
  width: 5rem;
}
.link-btn {
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  background-color: #f78e28;
  color: #fff;
  opacity: 0.6;
  transition: 0.3s;
}
.link-btn:hover {
  opacity: 1;
}
.router-link-btn a {
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  background-color: #f78e28;
  color: #fff;
  opacity: 0.6;
  transition: 0.3s;
}
.router-link-btn a:hover {
  opacity: 1;
}
.router-edit-btn {
  margin-bottom: 25px;
}
.router-edit-btn a {
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  background-color: #f78e28;
  color: #fff;
  opacity: 0.6;
  transition: 0.3s;
}
.router-edit-btn a:hover {
  opacity: 1;
}
.submit-btn {
  border-radius: 10px;
  border: 0;
  text-decoration: none;
  text-align: center;
  height: 1.5rem;
  width: 7rem !important;
  background-color: #f78e28;
  color: #fff;
  opacity: 0.6;
  transition: 0.3s;
}
.submit-btn:hover {
  opacity: 1;
}
.delete-btn {
  border-radius: 10px;
  border: 0;
  text-decoration: none;
  text-align: center;
  padding: 10px 30px 10px 30px;
  margin-top: 2rem;
  background-color: #f45229;
  color: #fff;
  box-shadow: 3px 3px 10px 3px #595959;
  transition: 0.3s;
}
.delete-btn:hover {
  padding: 15px 40px 15px 40px;
}
.edit-user-form,
.new-post-page {
  border-radius: 6px;
  width: 50rem;
  margin: 4rem auto 1rem auto;
  padding: 0.05rem 1rem 1.3rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px #595959;
}
.edit-user-form form,
.new-post-page form {
  display: flex;
  flex-direction: column;
}
.edit-user-form form label,
.new-post-page form label {
  padding: 1rem;
}
.edit-user-form form textarea,
.new-post-page form textarea {
  margin: 0 1rem 0 1rem;
  resize: none;
}
.edit-user-form form input,
.new-post-page form input {
  margin: 0.75rem auto 0 auto;
  width: 5rem;
}
.user-form {
  border-radius: 6px;
  width: 30rem;
  margin: 4rem auto 1rem auto;
  padding: 0.05rem 1rem 1.3rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px #595959;
}
.user-form form {
  display: flex;
  flex-direction: column;
}
.user-form form label {
  padding: 0 0 0.5rem 0;
}
.user-form form input {
  margin: 0 auto 1rem auto;
  width: 5rem;
}
.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0.6rem 0 0 2rem;
}
.landing-component {
  border-radius: 6px;
  width: 30rem;
  margin: 4rem auto 1rem auto;
  padding: 0.05rem 1rem 1.3rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px #595959;
}
.landing-logo {
  width: 30rem;
  margin: auto;
  padding-top: 5rem;
  margin-bottom: -130px;
}
@media (max-width: 1500px) {
  .post,
  .edit-user-form,
  .header {
    width: 75%;
  }
}
@media (max-width: 890px) {
  .home-page,
  .post-page {
    width: 75%;
    margin: 0 5rem 0 5rem;
  }
  .edit-user-form,
  .new-post-page,
  .header,
  .post-preview-card,
  .user-form,
  .Search-page,
  .profile-page,
  .landing-component {
    border-radius: 0;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .navbar {
    width: 100%;
  }
  .navbar .link {
    margin: auto;
    width: 100%;
    padding: 1.5rem 1rem 1.3rem 1rem;
  }
  .home-page,
  .post-page {
    width: 100%;
    margin: auto;
  }
  .post {
    border-radius: 0;
  }
  .comment {
    width: 100%;
    border-radius: 0;
  }
  .comment-form {
    border-radius: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */