@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap')

colors = {
   orange: #F78E28,
   red: #f45229,
   yellow: #F8B735,
   blue: #2B898B,
   green: #2A6E4F,
   black: #213037,
   grey: #595959
}

// border radius mixin
br(n) {
   -webkit-border-radius: n
   -moz-border-radius: n
   border-radius: n
}

body {
   font-family: 'Comfortaa', Arial, Helvetica, sans-serif
   background-color: colors.blue
   color: colors.black
   margin: 0
}

.navbar {
   display: flex
   justify-content: flex-end
   background-color: white
   height: 4rem
   box-shadow: 5px 5px 12px 1px colors.grey 

   .link {
      text-decoration: none
      color: colors.black
      width: 9rem
      padding-top: 1.45rem

      transition: 0.3s

      &:hover {
         background-color: colors.orange
         color: white
      }
   }

   .logout:hover {
      background-color: colors.red
   }   
}

.home-page, .post-page, .profile-page, .edit-user-page {
   width: 75%   
   margin: auto
}

.header {
   br(6px)
   width: 50rem
   margin: 4rem auto 1rem auto
   padding: 0.05rem 1rem 1.30rem 1rem
   background-color: white
   box-shadow: 5px 5px 10px 5px colors.grey  
}

.feed {
   display: flex
   flex-direction: column
   align-content: center
}

.post {
   br(6px)
   width: 70rem
   margin: 4rem auto 1rem auto
   padding: 0.05rem 1rem 1.30rem 1rem  
   background-color: white
   box-shadow: 5px 5px 10px 5px colors.grey

   p {
      padding: 0.5rem 2.5rem 0.25rem 2.5rem
      text-align: left
   }
}

.post-preview-card  {
   br(6px)
   width: 40rem
   margin: 1rem auto 1rem auto
   padding: 0 1rem 1.30rem 1rem
   background-color: white
   box-shadow: 5px 5px 10px 5px colors.grey

   p {
      padding: 0 15px 5px 15px
      text-align: left
   }

}

.comment-form {
   br(6px)
   width: 30rem
   margin: 2rem auto 2rem auto
   padding: 0.75rem 1rem 0.75rem 1rem
   background-color: white
   box-shadow: 5px 5px 10px 5px colors.grey

   form {
      display: flex
      flex-direction: column

      label {
         padding: 1rem
      }

      textarea {
         margin: 0 1rem 0 1rem
         resize: none
      }

      input {
         margin: 0.75rem auto 0 auto
         width: 5rem
      }
   }
}

.comment {
   br(6px)
   width: 30rem
   margin: 2rem auto 2rem auto
   padding: 0.75rem 1rem 0.75rem 1rem
   background-color: white
   box-shadow: 5px 5px 10px 5px colors.grey

   p {
      padding: 0 15px 5px 15px
   }
}

.content-header {
   display: inline-flex

   a  {
      margin: 0 10px 0 10px
   }

   h5 {
      margin: 0 10px 0 10px
   }   
}

.comment-edit-section {
   display: flex
   flex-direction: column

   button {
      margin: 0 10px 0 10px
      width: 5rem
   }
}

.like-btn {
   button {
      margin: 0 10px 0 10px
      width: 5rem
   }
}

.link-btn {
   br(10px)
   text-decoration: none
   padding: 5px 25px 5px 25px
   background-color: colors.orange
   color: white

   opacity: 0.6
   transition: 0.3s

   &:hover {
      opacity: 1   
   }
}

.edit-user-form, .new-post-page {
   br(6px)
   width: 50rem
   margin: 4rem auto 1rem auto
   padding: 0.05rem 1rem 1.30rem 1rem  
   background-color: white
   box-shadow: 5px 5px 10px 5px colors.grey

   form {
      display: flex
      flex-direction: column

      label {
         padding: 1rem
      }

      textarea {
         margin: 0 1rem 0 1rem
         resize: none
      }

      input {
         margin: 0.75rem auto 0 auto
         width: 5rem
      }
   }
}

.user-form {
   br(6px)
   width: 30rem
   margin: 4rem auto 1rem auto
   padding: 0.05rem 1rem 1.30rem 1rem  
   background-color: white
   box-shadow: 5px 5px 10px 5px colors.grey

   form {
      display: flex
      flex-direction: column

      label {
         padding: 0 0 0.5rem 0
      }

      input {
         margin: 0 auto 1rem auto
         width: 5rem
      }
   }   
}

@media (max-width:1500px) {  
   .post, .edit-user-form, .header {
      width: 100%   
   }

}

@media (max-width:890px) {
   .home-page, .post-page {
      width: 75%
      margin: 0 5rem 0 5rem
   }

   .edit-user-form, .new-post-page, .header, .post-preview-card, .user-form {
      br(0)   
      width: 100%
   }
}

@media (max-width: 650px) {
   .navbar {
      width: 100%

      .link {
         margin: auto 
         width: 100%         
            padding: 1.5rem 1rem 1.30rem 1rem
      }
   }

   .home-page, .post-page {
      width: 100%   
      margin: auto
   }

   .post {
      br(0)
   }

   .comment {
      width: 100%
      br(0)   
   }

   .comment-form {
      br(0)
      width: 100%   
   }
}


