@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$colors: (
   'orange': #F78E28,
   'red': #f45229,
   'yellow': #F8B735,
   'blue': #2B898B,
   'green': #2A6E4F,
   'black': #213037,
   'grey': #595959
);

// border radius mixin
@mixin br($n) {
   -webkit-border-radius: n;
   -moz-border-radius: n;
   border-radius: n;
}

body {
   font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
   background-color: map.get($colors, 'blue');
   color: map.get($colors, 'black');
   margin: 0;
}

p {
   white-space: pre-wrap;
}

.navbar {
   display: flex;
   justify-content: flex-end;
   background-color: white;
   height: 4rem;
   box-shadow: 5px 5px 12px 1px map.get($colors, 'grey');

   .link {
      text-decoration: none;
      color: map.get($colors, 'black');
      width: 9rem;
      padding-top: 1.45rem;
      transition: 0.3s;

      &:hover {
         background-color: map.get($colors, 'orange');
         color: white;
      }
   }

   .logout:hover {
      background-color: map.get($colors, 'red');
   }   
}

.home-page, .post-page, .profile-page, .edit-user-page, .Search-page {
   width: 75%;
   margin: auto;
}

.header {
   @include br(6px);
   width: 50rem;
   margin: 4rem auto 1rem auto;
   padding: 0.05rem 1rem 1.30rem 1rem;
   background-color: white;
   box-shadow: 5px 5px 10px 5px map.get($colors, 'grey');
}

.feed {
   display: flex;
   flex-direction: column;
   align-content: center;
}

.post {
   @include br(6px);
   width: 70rem;
   margin: 4rem auto 1rem auto;
   padding: 0.05rem 1rem 1.30rem 1rem;
   background-color: white;
   box-shadow: 5px 5px 10px 5px map.get($colors, 'grey');

   p {
      padding: 0.5rem 2.5rem 0.25rem 2.5rem;
      text-align: left;
   }
}

.post-preview-card  {
   @include br(6px);
   width: 40rem;
   margin: 1rem auto 1rem auto;
   padding: 0 1rem 1.30rem 1rem;
   background-color: white;
   box-shadow: 5px 5px 10px 5px map.get($colors, 'grey');

   p {
      padding: 0 15px 5px 15px;
      text-align: left;
   }
}

.comment-form {
   @include br(6px);
   width: 30rem;
   margin: 2rem auto 2rem auto;
   padding: 0.75rem 1rem 0.75rem 1rem;
   background-color: white;
   box-shadow: 5px 5px 10px 5px map.get($colors, 'grey');

   form {
      display: flex;
      flex-direction: column;

      label {
         padding: 1rem;
      }

      textarea {
         margin: 0 1rem 0 1rem;
         resize: none;
      }

      input {
         margin: 0.75rem auto 0 auto;
         width: 5rem;
      }
   }
}

.comment {
   @include br(6px);
   width: 30rem;
   margin: 2rem auto 2rem auto;
   padding: 0.75rem 1rem 0.75rem 1rem;
   background-color: white;
   box-shadow: 5px 5px 10px 5px map.get($colors, 'grey');

   p {
      padding: 0 15px 5px 15px;
   }
}

.content-header {
   display: inline-flex;

   a  {
      margin: 0 10px 0 10px;
   }

   h5 {
      margin: 0 10px 0 10px;
   }   
}

.comment-edit-section {
   display: flex;
   flex-direction: column;

   button {
      margin: 0 10px 0 10px;
      width: 5rem;
   }
}

.like-btn {
   button {
      margin: 0 10px 0 10px;
      width: 5rem;
   }
}

.link-btn {
   @include br(10px);
   border: 0;
   text-decoration: none;
   padding: 5px 25px 5px 25px;
   background-color: map.get($colors, 'orange');
   color: white;
   opacity: 0.6;
   transition: 0.3s;

   &:hover {
      opacity: 1;
   }
}

.router-link-btn {
   a {
      @include br(10px);
      text-decoration: none;
      padding: 5px 25px 5px 25px;
      background-color: map.get($colors, 'orange');
      color: white;
      opacity: 0.6;
      transition: 0.3s;

      &:hover {
         opacity: 1;
      }
   }   
}

.router-edit-btn {
   margin-bottom: 25px;
   a {
      @include br(10px);
      text-decoration: none;
      padding: 5px 25px 5px 25px;
      background-color: map.get($colors, 'orange');
      color: white;
      opacity: 0.6;
      transition: 0.3s;

      &:hover {
         opacity: 1;
      }
   } 
}

.submit-btn {
   @include br(10px);
   border: 0;
   text-decoration: none;
   text-align: center;
   height: 1.5rem;
   width: 7rem !important;
   background-color: map.get($colors, 'orange');
   color: white;
   opacity: 0.6;
   transition: 0.3s;

   &:hover {
      opacity: 1;
   }
}

.delete-btn {
   @include br(10px);
   border: 0;
   text-decoration: none;
   text-align: center;
   padding: 10px 30px 10px 30px;
   margin-top: 2rem;
   background-color: map.get($colors, 'red');
   color: white;
   box-shadow: 3px 3px 10px 3px map.get($colors, 'grey');
   transition: 0.3s;

   &:hover {
      padding: 15px 40px 15px 40px;
   }
}

.edit-user-form, .new-post-page {
   @include br(6px);
   width: 50rem;
   margin: 4rem auto 1rem auto;
   padding: 0.05rem 1rem 1.30rem 1rem;
   background-color: white;
   box-shadow: 5px 5px 10px 5px map.get($colors, 'grey');

   form {
      display: flex;
      flex-direction: column;

      label {
         padding: 1rem;
      }

      textarea {
         margin: 0 1rem 0 1rem;
         resize: none;
      }

      input {
         margin: 0.75rem auto 0 auto;
         width: 5rem;
      }

      .main-content, .header-content, .tags {
         padding: .5rem
      }
   }
}

.editor-container {
   padding: 1em;
   margin: 1em;
}

.editors {
   border: 1px blue solid;
   padding: 1em;
   margin: 1em;
   font-family: 'Open Sans';
   font-size: 90%;
}

.user-form {
   @include br(6px);
   width: 30rem;
   margin: 4rem auto 1rem auto;
   padding: 0.05rem 1rem 1.30rem 1rem;
   background-color: white;
   box-shadow: 5px 5px 10px 5px map.get($colors, 'grey');

   form {
      display: flex;
      flex-direction: column;

      label {
         padding: 0 0 0.5rem 0;
      }

      input {
         margin: 0 auto 1rem auto;
         width: 5rem;
      }
   }   
}

.logo {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   padding: 0.6rem 0 0 2rem;
}

.landing-component {
   @include br(6px);
   width: 30rem;
   margin: 4rem auto 1rem auto;
   padding: 0.05rem 1rem 1.30rem 1rem;
   background-color: white;
   box-shadow: 5px 5px 10px 5px map.get($colors, 'grey');
}

.landing-logo {
   width: 30rem;
   margin: auto;
   padding-top: 5rem;
   margin-bottom: -130px;

}

@media (max-width:1500px) {  
   .post, .edit-user-form, .header {
      width: 75%;
   }

}

@media (max-width:890px) {
   .home-page, .post-page {
      width: 75%;
      margin: 0 5rem 0 5rem;
   }

   .edit-user-form, .new-post-page, .header, .post-preview-card, .user-form, .Search-page, .profile-page, .landing-component   {
      @include br(0);
      width: 100%;
   }
}

@media (max-width: 650px) {
   .navbar {
      width: 100%;

      .link {
         margin: auto;
         width: 100%;        
            padding: 1.5rem 1rem 1.30rem 1rem;
      }
   }

   .home-page, .post-page {
      width: 100%;
      margin: auto;
   }

   .post {
      @include br(0);
   }

   .comment {
      width: 100%;
      @include br(0);
   }

   .comment-form {
      @include br(0);
      width: 100%;
   }
}


